<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/administracao/layout}">
<head>
<title>Varzeafc</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
									<h1>Pagamento realizado com sucesso</h1>
							<!-- /.row (nested) -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
		</div>
	</div>

</body>
</html>