<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/administracao/layout}">
<head>
<meta charset="UTF-8">
<title>Inscrever jogador</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Increver jogador</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Adicionar</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-8">

									<form role="form" th:action="${(#mvc.url('PJC#inscreverJogadores')).build()}"
										th:object="${jogadores}" method="POST">
																							
										<div class="row">
											<div class="col-lg-12">
												<div class="table-responsive">
													<table class="table table-bordered table-hover table-striped">
														<thead>
															<tr>
																<th>Nome</th>
																<th>Posição</th>
																<th>Inscrever</th>
																
															</tr>
														</thead>
														<tbody>
															<tr th:each="jogador : ${jogadores}">
														        <td th:text="${jogador.nome}"></td>
														        <td th:text="${jogador.posicao.descricao}"></td>
														        <td>
														        	<input type="checkbox" id="jogador" th:value="${jogador.id}" th:field="${jogadores}" />
														        
														        </td>
														    </tr>
														</tbody>
													</table>
												</div>
											</div>
											<!-- /.col-lg-12 -->
										</div>
											

										<button type="submit" class="btn btn-success">Increver Jogadores</button>
									</form>
								</div>

							</div>
							<!-- /.row (nested) -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
					
		</div>
	</div>
</body>
</html>
